// app global css in SCSS form
@mixin respond-to($media) {
  @if $media == "xsOnly" {
    @media (max-width: $breakpoint-xs-max) {
      @content;
    }
  } @else if $media == "smAndDown" {
    @media (max-width: $breakpoint-sm-max) {
      @content;
    }
  } @else if $media == "smAndUp" {
    @media (min-width: $breakpoint-sm-min) {
      @content;
    }
  } @else if $media == "smOnly" {
    @media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
      @content;
    }
  } @else if $media == "mdAndDown" {
    @media (max-width: $breakpoint-md-max) {
      @content;
    }
  } @else if $media == "mdAndUp" {
    @media (min-width: $breakpoint-md-min) {
      @content;
    }
  } @else if $media == "mdOnly" {
    @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
      @content;
    }
  } @else if $media == "lgAndDown" {
    @media (max-width: $breakpoint-lg-max) {
      @content;
    }
  } @else if $media == "lgAndUp" {
    @media (min-width: $breakpoint-lg-min) {
      @content;
    }
  } @else if $media == "lgOnly" {
    @media (min-width: $breakpoint-lg-min) and (max-width: $breakpoint-lg-max) {
      @content;
    }
  } @else if $media == "xlAndDown" {
    @media (max-width: $breakpoint-xl-min) {
      @content;
    }
  } @else if $media == "xlOnly" {
    @media (min-width: $breakpoint-xl-min) {
      @content;
    }
  }
}

h2 {
  word-wrap: break-word;
  @include respond-to("smAndDown") {
    font-size: 3rem;
    line-height: inherit;
  }
}
h3 {
  word-wrap: break-word;
  @include respond-to("smAndDown") {
    font-size: 1.5rem;
    line-height: inherit;
  }
}

.q-btn:not(.q-btn--flat) {
  background-color: $ucGoldTrim !important;
  padding: 0.5rem;
}
